<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>

    <title>Каталог товаров</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <style>
        .table_image {
            max-width: 64px;
            max-height: 64px;
            width: auto;
            height: auto;
        }


    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Shop)}"/>

    <h1 th:text="#{filters}"/>

    <form th:action="@{/shop}" method="GET">
        <!--        <div class="input-group mb-6">-->
        <!--            <div class="input-group-prepend">-->
        <!--                <span class="input-group-text" th:text="#{filters.word}" />-->
        <!--            </div>-->
        <!--            <input th:value="${param.word != null} ? ${param.word}" th:name="word" type="text" class="form-control">-->
        <!--        </div>-->
        <!--        <div class="input-group mb-6">-->
        <!--            <div class="input-group-prepend">-->
        <!--                <span class="input-group-text" th:text="#{filters.price.min}" />-->
        <!--            </div>-->
        <!--            <input th:value="${param.min != null} ? ${param.min}" th:name="min" type="number" class="form-control">-->
        <!--        </div>-->
        <!--        <div class="input-group mb-6">-->
        <!--            <div class="input-group-prepend">-->
        <!--                <span class="input-group-text" th:text="#{filters.price.max}" />-->
        <!--            </div>-->
        <!--            <input th:value="${param.max != null} ? ${param.max}" th:name="max" type="number" class="form-control">-->
        <!--        </div>-->
        <div class="input-group">
            <input th:value="${param.word != null} ? ${param.word}" class="form-control" th:name="word" type="text"
                   th:placeholder="#{filters.word}">
            <input th:value="${param.min != null} ? ${param.min}" class="form-control" th:name="min" type="number"
                   th:placeholder="#{filters.price.min}">
            <input th:value="${param.max != null} ? ${param.max}" class="form-control" th:name="max" type="number"
                   th:placeholder="#{filters.price.max}">
            <select name="cat">
                <option disabled th:selected="${param.cat == null}">Категория</option>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.title}"
                        th:selected="${param.cat == category.id}"/>
            </select>

        </div>
        <br>
        <button type="submit" class="btn btn-primary" th:text="#{filters.submit}"></button>
    </form>

    <br>

    <h1>Каталог товаров</h1>
    <span th:text="${cart_size}"/>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th></th>
            <th>Название товара</th>
            <th>Категория</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${page.content}">
            <td th:text="${product.id}"/>
            <td>
                <img class="table_image" th:src="@{'/image_repository/products/' + ${product.id} + '/img_1.jpg'}">
            </td>
            <td>
                <a th:href="@{'/products/'+ ${product.id}}" th:text="${product.title}"/>
            </td>
            <td th:text="${product.category.title}"/>
            <td th:text="${product.price}"/>
            <td>
                <a class="btn btn-primary" th:href="@{'/cart/add?id=' + ${product.id}}">Add to Cart</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:classappend="${!(page.getNumber() > 0) ? 'disabled' : ''}">
                <a th:class="page-link" th:href="@{'/products?pageNumber=' + ${page.getNumber()} + ${filters}}"
                   th:text="#{paging.prev}"></a>
            </li>

            <li class="page-item" th:classappend="${page.getNumber() + 1 == i ? 'active' : ''}"
                th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">
                <a th:class="page-link" th:text="${i}" th:href="@{'/products?pageNumber=' + ${i} + ${filters}}"></a>
            </li>

            <li class="page-item" th:classappend="${!(page.getNumber() < page.getTotalPages() - 1) ? 'disabled' : ''}">
                <a th:class="page-link" th:href="@{'/products?pageNumber=' + ${page.getNumber() + 2} + ${filters}}"
                   th:text="#{paging.next}"></a>
            </li>
        </ul>
    </nav>
    <div sec:authorize="hasRole('CUSTOMER')" th:if="${productsHistory.size() > 0}">
        <h4>Недавно просмотренные</h4>
        <div style="display: flex">
            <div th:each="hProduct : ${productsHistory}" style="margin-right: 10px; padding: 10px; border: solid;">
                <img class="table_image"
                     th:src="@{'/image_repository/products/' + ${hProduct.product.id} + '/img_1.jpg'}">
                <h5 th:text="${hProduct.product.title}"/>
            </div>
        </div>
    </div>
</div>

</body>
</html>